.firstLevel {
	/* display: grid; */
	grid-column: 24px auto;
	gap: 20px;
	align-items: center;
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	margin-top: 20px;
}

.firstLevelActive,
.firstLevel:hover {
	color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
	fill: var(--primary);
	display: inline-block;
	width: 24px;
}

.secondLevel {
	margin-bottom: 10px;
	cursor: pointer;
	text-transform: uppercase;
	color: #787D85;

	font-weight: 300;
	font-size: 12px;
	line-height: 16px;
}

.secondBlock {
	margin-top: 15px;
	margin-left: 12px;
	padding-left: 32px;

	border-left: 1px solid #DFDFDF;
}

.secondLevelBlockOpened:last-child {
	margin-bottom: 20px;
}

.secondLevelBlock {
	display: none;
}

.secondLevelBlockOpened {
	display: block;
}

.thirdLevel {
	margin-bottom: 10px;
	display: block;
	cursor: pointer;
	color: #787D85;
	font-weight: 500;
	font-size: 14px;
	line-height: 19px;
	transition: 0.3s;
}

.thirdLevelActive,
.thirdLevel:hover {
	color: var(--primary);
	transition: 0.3s;
}